<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDS22</title>
   <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css" type="text/css" /> 
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <video autoplay muted loop id="bg-video">
        <source src="video/timelapse.mp4" type="video/mp4">
    </video>
    <div class="page-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="cd-slider-nav">
              <nav class="navbar navbar-expand-lg" id="tm-nav">
                <a class="navbar-brand" href="#">SDS 2022</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar-supported-content">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                      <li class="nav-item selected">
                        <a class="nav-link" aria-current="page" href="#0" data-no="1">Inicio</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="2">Dia 1</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="3">Dia 2</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="4">Dia 3</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="5">Feria de logros</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="6">SDS22</a>
                        <div class="circle"></div>
                      </li>
                    </ul>
                  </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
          <!--Primera seccion (home)-->
          <li class="px-3" data-page-no="1">
            <div class="page-width-2 page-left">
              <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                <div class="intro-left tm-bg-dark">
                  <h2 class="mb-4">Ponencias y talleres SDS 2022</h2>
                  <p class="mb-4">
                    Desarrollado por parte de la carrera de Ingeniería en Sistemas
                    Informáticos, se imparten una serie de actividades con el
                    fin de fomentar el conocimiento entre los estudiantes y dar a
                    conocer los logros obtenidos a lo largo de el trayecto de los
                    estudiantes.
                  </p>
                </div>
                <div class="intro-right">
                  <img src="img/img-1.png" alt="Image" class="img-fluid intro-img-1">
                </div>
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="circle intro-circle-3"></div>
                <div class="circle intro-circle-4"></div>
              </div>
              <div class="text-center">
                <a href="#0" data-page-no="2" class="btn btn-primary tm-intro-btn tm-page-link">
                  Ver actividades
                </a>
              </div>
            </div>
          </li>
          <!--Segunda seccion (Dia1)-->
          <li class="px-3" data-page-no="2">
            <div class="page-width-2 page-left">
              <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                <div class="intro-left tm-bg-dark">
                  <h2 class="mb-4">Agenda dia Lunes</h2>
                  <p class="mb-4">
                    Empezando con una introduccion se dara a conocer algunos puntos
                    acerca de el estado de la carrera y de las actividades y proyectos planeados a futuro,
                    asi como algunos talleres y Ponencias.
                  </p>
                  <p class="mb-4">
                    Taller: Sockets, Aplicaciones en tiempo Real.
                  </p>
                  <p class="mb-4">
                    Taller: Industrial 4.0, la automatizacion de procesos productivos.
                  </p>
                </div>
                <div class="intro-right">
                  <img src="img/image-1.png" alt="Image" class="img-fluid intro-img-1">
                </div>
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="circle intro-circle-3"></div>
                <div class="circle intro-circle-4"></div>

              </div>
              <div class="text-center">
              <a href="#0" data-page-no="3" class="btn btn-primary tm-intro-btn tm-page-link">
                Siguiente
              </a>
            </div>
            </div>
          </li>
          <!--Tercera seccion (Dia2)-->
          <li class="px-3" data-page-no="3">
            <div class="page-width-2 page-left">
              <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                <div class="intro-left tm-bg-dark">
                  <h2 class="mb-4">Agenda dia Martes</h2>
                  <p class="mb-4">
                    Ponencia: Mainframe Open Education Proyect.
                  </p>
                  <p class="mb-4">
                    Ponencia: Conoce sobre Sistemas Distributivos.
                  </p>
                  <p class="mb-4">
                    Ponencia: Value of Linux.
                  </p>
                  <p class="mb-4">
                    Taller: UX/UI Design.
                  </p>
                  <p class="mb-4">
                    Taller: Introduccion a Redes y automatización utilizando
                    tecnologías Open Source.
                  </p>
                </div>
                <div class="intro-right">
                  <img src="img/image-2.png" alt="Image" class="img-fluid intro-img-1">
                </div>
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="circle intro-circle-3"></div>
                <div class="circle intro-circle-4"></div>
              </div>
              <div class="text-center">
                <a href="#0" data-page-no="4" class="btn btn-primary tm-intro-btn tm-page-link">
                  Siguiente
                </a>
              </div>
            </div>
          </li>
          <!--Cuarta seccion (Dia3)-->
          <li class="px-3" data-page-no="4">
            <div class="page-width-2 page-left">
              <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                <div class="intro-left tm-bg-dark">
                  <h2 class="mb-4">Agenda dia Miercoles</h2>
                  <p class="mb-4">
                    Ponencia: Design Sprint.
                  </p>
                  <p class="mb-4">
                    Ponencia: USC Biterni ipodia Program.
                  </p>
                  <p class="mb-4">
                    Taller: Introduccion a Laravel.
                  </p>
                  <p class="mb-4">
                    Taller: MQTT con mosquito de Oracle.
                  </p>
                </div>
                <div class="intro-right">
                  <img src="img/image-3.png" alt="Image" class="img-fluid intro-img-1">
                </div>
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="circle intro-circle-3"></div>
                <div class="circle intro-circle-4"></div>
              </div>
              <div class="text-center">
                <a href="#0" data-page-no="5" class="btn btn-primary tm-intro-btn tm-page-link">
                  Siguiente
                </a>
              </div>
            </div>
          </li>
          <!--Quinta seccion (Archivements)-->
          <li class="px-3" data-page-no="5">
            <div class="page-width-2 page-left">
              <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                <div class="intro-left tm-bg-dark">
                  <h2 class="mb-4">Agenda dia Jueves</h2>
                  <h3 class="mb-4">Feria de logros</h3>
                  <p class="mb-4">
                    Este dia seran presentados una serie de proyectos realizados por parte de los alumnos de la carrera de Ingenieria en Sistemas Informaticos.
                  </p>
                </div>
                <div class="intro-right">
                  <img src="img/image-4.png" alt="Image" class="img-fluid intro-img-1">
                </div>
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="circle intro-circle-3"></div>
                <div class="circle intro-circle-4"></div>
              </div>
              <div class="text-center">
                <a href="#0" data-page-no="6" class="btn btn-primary tm-intro-btn tm-page-link">
                  Siguiente
                </a>
              </div>
            </div>
          </li>
          <!--Sexta seccion (SDS)-->
          <li class="px-3" data-page-no="6">
            <div class="page-width-2 page-left">
              <h1 class="mb-4">SDS TRIP 2022</h1>
              <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
              <div class="intro-right">
                  <img src="img/Termales.jpg" alt="Image" class="img-fluid intro-img-1">
                </div>
                <div class="intro-left tm-bg-dark">
                  <h2 class="mb-4">Termales Santa Teresa</h2>
                  <p class="mb-4">
                    Este viernes 2 de Diciembre...
                  </p>
                  <p class="mb-4">
                      TE INVITA: La asociacion de estudiantes de Ingeniería de Sistemas Informáticos.
                  </p>
                </div>
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="circle intro-circle-3"></div>
                <div class="circle intro-circle-4"></div>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/script.js"></script>
</body>
</html>